
/* <![CDATA[ */
body {
    background-image: url(assets/img/bread-background.png);
    color: white;
    margin: 0 24pt 0 24pt;
    font-family: PT Serif, serif;
    font-size: 15pt;
    display: flex; 
    justify-content: center;
   }
   div {
    height: 16pt;
   }
   a {
    color: #217; 
    text-decoration: none;
   }
  
   #title {
    float:right;
    padding-right: 5%;
    color: white;
    height:60pt;
  }

  h1 + p { 

  }

  p { 
    font-size: 14pt; 
  }
   /* ]]> */
